<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Resume - Personal Info</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Programming Confidence</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Java</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
			
			<!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>HTML/CSS/JS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
			
			<!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Smalltalk</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
			
			<!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="70%">
                <div class="skillbar-title"><span>Bash Scripting</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
			
			<!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="65%">
                <div class="skillbar-title"><span>C/C++</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">65%</div>
            </div>
            <!-- /.skillbar -->
			
			<!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>OCaml</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
            
             <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="60%">
                <div class="skillbar-title"><span>PHP</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">MS Office Confidence</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>MS Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->
             
		</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobbies / Interests</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="100%">
                <div class="skillbar-title"><span>Technology Research</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
			
			<!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Travelling and cultures</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="90%">
                <div class="skillbar-title"><span>Chess</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="75%">
                <div class="skillbar-title"><span>Swimming</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
			
			<!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Hackathons</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            

        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Language Skills</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="100%">
                <div class="skillbar-title"><span>Romanian</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">100%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="20%">
                <div class="skillbar-title"><span>German</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">20%</div>
            </div>
            <!-- /.skillbar -->

        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Curriculum Vitae</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin: 0; float: left; position: relative; z-index: 1;" href="https://www.dropbox.com/s/hsb3d7v4xmqslib/Andrei%20Rusu%20-%20CV.pdf?dl=1">
            <span data-hover="Download My CV"><i class="glyphicon glyphicon-download-alt"></i> Download My CV</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Experience</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
		    <li class="first">
                <h5>PhD Candidate<span class="duration"><i class="fa fa-calendar color"></i>Sep '19 - P</span></h5>
                <h6><span class="fa fa-briefcase"></span> University of Southampton</h6>
                <p>
				•	Researching the suitability of current generative models for identifying unique generative factors in various datasets (e.g. GDC tumor RNA-seq)<br />
				•	Learning advanced machine learning and computer vision techniques from leading experts in the area of artificial intelligence<br />
				•	Exploring the latest developments in neural networks and generative modelling.

				</p>
            </li>

            <li>
                <h5>Student Ambassador<span class="duration"><i class="fa fa-calendar color"></i>Jun '16 - P</span></h5>
                <h6><span class="fa fa-briefcase"></span> University of Southampton</h6>
                <p>
				•	Offering mentoring and e-mentoring activities to our prospective students <br />
				•	Delivering campus tours and activities to pupils interested in higher education <br />
				•	Representing the University of Southampton in different events and settlements.
				</p>
            </li>
            <li>
                <h5>Software Developer<span class="duration"><i class="fa fa-calendar color"></i>Jul - Sep '18</span></h5>
                <h6><span class="fa fa-briefcase"></span> Continental Automotive Romania</h6>
                <p>
				•	Assisted a Master’s degree research project aimed at comparing the four main cloud providers in terms of their Natural Language Understanding frameworks <br />
				•	Built a complete AI chatbot system with Google Dialogflow able to answer queries about weather, traffic, geolocation, personalities, places, and others <br />
				•	Implemented an Android application fully connected to our new chatbot system.
				</p>
            </li>
			<li>
                <h5>Technology Analyst<span class="duration"><i class="fa fa-calendar color"></i>Jun '17 - Jun '18</span></h5>
                <h6><span class="fa fa-briefcase"></span> J.P. Morgan Chase & Co.</h6>
                <p>
				•	Worked on risk-management trading platforms to maximize traders’ efficiency <br />
				•	Developed a clear understanding of OOP by directly manipulating Kapital, a proprietary Smalltalk environment with a massive codebase <br />
				•	Got a very good exposure to the latest trends in FinTech and Cyber-security.
				</p>
            </li>
			<li>
                <h5>Java Web Developer<span class="duration"><i class="fa fa-calendar color"></i>Jun – Sep '16</span></h5>
                <h6><span class="fa fa-briefcase"></span> Akixi Ltd.</h6>
                <p>
				•	Developed a new utility to provide compilation of JSP files on the go <br />
				•	Manipulated Apache Tomcat to capture the static HTML output from JSP files <br />
				•	Created a new Java Servlet web application to be used for testing purposes.

				</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Education</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>BSc Computer Science<span class="duration"><i class="fa fa-calendar color"></i>Sep '15 - Jul '19</span></h5>
                <h6><span class="fa fa-book"></span> University of Southampton</h6>
                <p>
				•	Obtained: <strong>Bachelor of Science with First-Class Honours in Computer Science</strong> <br />
				•	Graduated with the following overall marks: <br />
				&nbsp - <strong>84 - 1st year</strong><br />
				&nbsp - <strong>84.75 - 2nd year</strong><br />
				&nbsp - <strong>85.5 - 3rd year</strong>
				</p>
            </li>
            <li>
                <h5>Romanian Baccalaureate<span class="duration"><i class="fa fa-calendar color"></i>2015</span></h5>
                <h6><span class="fa fa-book"></span> Costache Negruzzi College, Iasi, Romania</h6>
                <p>
				•	Had to pass 3 exams, marked from 1 to 10: <br /> 
				Romanian (9.6), Mathematics (9.6) and <br /> Computer Science (C/C++) (9.8) <br />
				•	Graduated with an overall of <strong>9.66/10</strong>.

				</p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Achievements</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Computer Science - Top 10<span class="duration"><i class="fa fa-calendar color"></i> 2017</span></h5>
                <h6><span class="fa fa-trophy"></span>Netcraft Ltd.</h6>
                
            </li>
            <li>
                <h5>CAE: Level C1<span class="duration"><i class="fa fa-calendar color"></i> 2013</span></h5>
                <h6><span class="fa fa-trophy"></span> Cambridge English Language Assessment</h6>
                
            </li>
			<li>
                <h5>Chess National Champion<span class="duration"><i class="fa fa-calendar color"></i> 2006</span></h5>
                <h6><span class="fa fa-trophy"></span> Romanian Chess Federation</h6>
                
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   


<!-- <div class="reference clearfix"> 
            
         .title_content
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Client reference</div>
            <div class="clear"></div>
        </div>
        /.title_content -->
        
<!--
        <ul>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“Many desktop publishing packages and web page editors now use Lorem Ipsum as their default will model text, and a search for 'lorem ipsum' hope is uncover many web sites still”</p>
                <span>John Doe, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“very nice colleague she always helped me out if i didnt know something editors now use Lorem Ipsum as their default”</p>
                <span>Leia Calvi, UX Designer</span>
            </li>
            <li class="clearfix">
                <img src="http://placehold.it/100x100" class="img_reference" width="100" height="100" alt="">
                <p>“old colleague and now close friend, she is really sweet and helpfull packages and web page editors now use Lorem Ipsum as their default will model text”</p>
                <span>Maria Callas, UX Designer</span>
            </li>
        </ul>
</div> -->

</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->